
//colors
$white:#fff;
$black:#000;
$gray:hsl(207, 13%, 51%);

//header and footer color
$hf-primary:#fff;
$hf-secdonary:hsl(240, 2%, 85%);
$footer-text:hsl(240, 2%, 79%);
$light-red:hsl(356, 100%, 66%);



//background colors
$body-background:hsl(237, 17%, 21%);
$footer-background:hsl(240, 10%, 16%);
$white-background:#fff;

//text color
$primary-text: hsl(208, 49%, 24%);
$secondary-text:hsl(207, 13%, 61%);


