@use 'colors';
@use 'mixins';
@use 'extend';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size:16px;
}

.container-fuild{
    padding:5% 13%;
}

//buttons
.btn-groups{
    margin: auto 0;
    @include mixins.flex(center);
    .btn{
        margin:0 10px;
        border-radius: 25px;
        @extend %btnText;
    }
    .btn-no-outline{
        @include mixins.btn-default(colors.$white,transparent,colors.$light-red);  
    }

    .btn-white{
        @include mixins.btn-default(colors.$light-red,colors.$white,colors.$white); 
    }
}

//Mobile and tablet drop down 
.bar, .bar-close{
    display:none;
}

.bar{
    position: relative;
    .fas{
        font-size:2rem;
        align-self: center;
    }

}

.rotated{
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

    //header dropdown
.dropdowns{
    @include mixins.dropdown(colors.$white,10px,40px);
    padding: 15px 0;
    li{
        margin:5px 20px;
        line-height:2rem; 
        @include mixins.nav-li-a(colors.$gray, colors.$black);
    }
}

.m-dropdown{
    @include mixins.dropdown(colors.$white,10px,8%);
    width:80%;
    z-index: 23;
    left:100%;
    top:100px; 
    .m-dropdown-nav{
        margin:20px 0;
        padding:0 40%;
    }
    .drop{
        display:none;
    }
    ul{
        padding-left:0.5rem;
        li{
            margin:15px 0;
            font-size:18px;
            color:colors.$black;
            @include mixins.nav-li-a(colors.$gray, colors.$light-red);
            .fas{
                font-size:20px;
                float:right;
            }    
        }
    }
}

//header
#header{
    @include mixins.section-set(colors.$white,colors.$light-red);
    background-image:linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border-bottom-left-radius:90px;
}
.header{
    background-image: url("/images/bg-pattern-intro.svg");
    background-position: center;
    background-size: auto;
}
.nav_bar{
    @include mixins.flex(space-between);
}
.nav_bar_ul{
    display:flex;
    padding-left:0;
    .logo{
        margin-right:30px;
    }
}
.left-adjust{
    left:-50%;
}
.li-items{
    @include mixins.nav-li-a(colors.$hf-secdonary,colors.$hf-primary,);
    display:flex;
    position: relative;
    bottom: -10px;
    margin:0 20px;
    height:20px;
    .fas{
        margin-left:10px;
    }
}
.header-content{
    margin:8% 0;
    h1{
        @include mixins.text(colors.$hf-primary,600,4rem,1%,0);
    }
    h3{
        @include mixins.text(colors.$hf-secdonary,600,1.5rem,3%,0);
    }

}

// intro-content
#intro-content{
    @include mixins.section-set(colors.$secondary-text,colors.$white-background);
}
.content-container{
    position: relative;
    padding-bottom:8%;
}
.intro-title{
    @include mixins.text(colors.$primary-text,600,2rem,0,0);
    position: relative;
    margin-bottom:5%;
}

.text-container{
    display:flex;
    flex-direction: column;
    align-content: center;
}
.text-box{
    padding-right:8%;
    margin:auto 0;
    h3{
        @include mixins.text(colors.$primary-text,600,1.5rem,3%,0);
    }
    p{
        @include mixins.text(colors.$secondary-text,300,1rem,5%,0);
        color:colors.$gray;
        margin-bottom:60px;
        line-height: 2;
    }
}
.img-fluid{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 100% !important;
}

//body-content
#body-content{
    @include mixins.section-set(colors.$white,colors.$body-background);
    background-image:url(/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
        p{
            @include mixins.text(colors.$secondary-text,300,1rem,0,0);
        }
}

.image-phone{
    position: relative;
    img{
        position: absolute;
    }
}

//content
//most styles in intro content section
#body-content2{
    @include mixins.section-set(colors.$secondary-text, colors.$white-background);
}
.body-content2-row{
    padding-top:5%;
}

//footer
#footer{
    @include mixins.section-set(colors.$footer-text,colors.$footer-background);
    border-top-right-radius: 90px;
}

.footer-nav{
    padding-left:0;
    li{
        @include mixins.nav-li-a(colors.$hf-secdonary, colors.$hf-primary);
        margin:10px 0px;
    }
}
.nav-name,.nav-name-d{
    color:colors.$hf-primary;
    text-align: center;
}
.nav-name{
    display:none;
}

//Tablet media queries 768px to 426px
@media screen and (max-width:768px){
    body{
        font-size:14px;
    }
    .container-fuild{
        padding:5% 10%;
    }
    //header
    .nav_bar{
        .btn-groups{
            display:none;
        }
        .li-items{
            display:none;
        }
        .bar{
            display:block;      
        }
        .m-dropdown{
            left:10%;
            z-index: 99;
            border:1px solid colors.$gray;
            .drop-title{
                &:hover{
                    color:colors.$light-red;
                    transition: 0.3s;
                }
            }
            .btn{
                width:100px;
                margin:0 10px;
                border:2px solid colors.$black;
                font-size:18px;
                font-family: 'Overpass', sans-serif;
                font-weight:600;
                &:hover{
                    background-color:colors.$black;
                    color:colors.$white;
                }
            }
            .mobile-btn-groups{
                margin-bottom:5%;
                padding:3% 0;
                display:flex;
                justify-content: center;
            }
        }
    }

    //Intro Content and body-content2
    .text-container{
        margin-top:40px !important;
        order:2;
    }
    .text-box{
        padding:0;
        text-align: center;
    }
    .image-container{
        order:1;
    }
    .image-fluid{
        max-width:85% !important;
    }

    //footer
    .footer-logo{
        margin-bottom: 15px !important;
    }
    .nav-name{
        margin-bottom:15px !important;
    }

}

// Mobile media queries 576px and below {
@media screen and (max-width:575px){
    .col-xs{
        flex: 0 0 auto;
        width:50% !important;
    }
}
//Mobile media queries 425px and below
@media screen and (max-width:425px){
    .col-xs{
        flex: 0 0 auto;
        width:100% !important;
    }

    //header
    #header{
        border-radius: unset;
    }
    .header-content h1{
        font-size:3.5rem;
    }
    .header-content h3{
        margin:7% 0;
        font-size:1rem;
    }
    .m-dropdown-nav{
        padding:0 33% !important;
    }

    //body content
    #body-content{
        margin-top:25%;
        height:500px;
        .body-text{
            margin-top:50%;
        }
    }
    //footer
    #footer{
        border-radius: unset;
    }
    .footer-nav{
        display:none;
        padding-left:0;
        text-align: center;
    }
    .nav-name{
        display:block;
    }
    .nav-name-d{
        display:none;
    }
}